:root {
  --transition-z-index-new: 999;
  --transition-z-index-old: 998;
}

::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
  z-index: var(--transition-z-index-old);
}

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  z-index: var(--transition-z-index-new);
}