::view-transition-image-pair(root) {
  isolation: auto;
}

:root {
  --transition-z-index-new: 999;
  --transition-z-index-old: 998;
}

::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
  z-index: var(--transition-z-index-old);
  display: block;
}

::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  z-index: var(--transition-z-index-new);
  display: block;
}
